.a1 {
    width: 50%;
}

.a2 {
    width: 20%;
}

.a3 {
    width: 40%;
}

.a4 {
    width: 60%;
}

.a5 {
    width: 80%;
}

.a6 {
    width: 100%;
}

.a7 {
    width: 25rem;
}

.toggled {
    overflow: visible;
    width: 6.5rem !important;
}

.toggled1 {
    width: 0 !important;
    overflow: hidden;
}